@import 'mixins';

@mixin middleHeading {
  text-align: center;
  margin: 5% 0 1% 0;
}

@mixin position($position, $left:null, $right:null, $top: null, $bottom: null) {
  position: $position;
  left: $left;
  right: $right;
  top: $top;
  bottom: $bottom;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin flexi($display: flex, $justify-content: null, $flex-direction: row) {
  display: $display;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

.main {
  @include flexi($display: flex, $justify-content: center, $flex-direction: column);

  @media(max-width: 320px) {
    overflow: hidden;
  }


  .everyMiddleHeading {
    @include middleHeading;
    margin-top: 1%;
    margin-bottom: 7%;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 4rem;

    @media (max-width: 1441px) {
      font-size: 3rem;
    }

    @media(max-width: 425px) {
      font-size: 1.5rem;
    }
  }

  .everySmallestHeading {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 5%;
    letter-spacing: 3px;
    font-size: 2rem;
    color: purple;

    @media (max-width: 1441px) {
      font-size: 2rem;

    }

    @media(max-width: 425px) {
      font-size: 1rem;
    }
  }

  .ourServices {
    @include flexi($display: flex, $flex-direction: column);
    margin-bottom: 1%;
    height: 100vh;
    align-items: center;
    justify-content: center;


    @media(max-width: 769px) {
      height: 150vh;
    }
    @media(max-width: 425px) {
      height: 200vh;
    }

    &__allFigure {
      @include flexi($display: flex, $justify-content: center);
      text-align: center;
      width: 100%;
      justify-content: space-around;

      @media (max-width: 1441px) {
        width: 80%;
      }

      @media (max-width: 1025px) {
        flex-wrap: wrap;
      }

      .ourServices__container {
        background-color: white;
        border-radius: 5%;
        border: 2px solid rgb(207, 198, 198);
        margin: 1%;
        transition: 0.5s;
        font-size: 1.7rem;

        @media (max-width: 1025px) {
          width: 40%;
          height: 40%;
          font-size: 0.8rem;
        }
        @media(max-width: 769px) {
          height: 40vh;
        }
         @media(max-width: 425px) {
          width: 60%;
          font-size: 0.5rem;
        }
        @media(max-width: 375px) {
         height: 30vh;
        }
        .ourServices__image {
          margin-top: 13%;

          @media (max-width: 1025px) {
            margin-top: 2%;

          }
        }

        .ourServices__text {
          font-size: 1.8rem;
          padding: 0 1% 0 1%;

          @media (max-width: 1025px) {

            font-size: 1.2rem;
          }

          @media(max-width: 425px) {
            font-size: 0.8rem;
            padding: 0 0.5% 0 0.5%;

          }
        }
      }

      .ourServices__container:hover {
        box-shadow: 0 0 15px 2px rgb(207, 198, 198);
      }
    }
  }

  .aboutUs {
    @include flexi($display: flex, $flex-direction: column);
    background-color: rgb(214, 211, 211);
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
   
    @media(max-width: 1025px) {
      margin-bottom: 1%;
      // height: 60vh;
    }

    @media(max-width: 769px) {
      height: 100vh;
    }
    @media(max-width: 426px) {
      height: 60vh;
    }
    @media(max-width: 375px) {
     height: 230vh;
    }
    &__allFigure {
      @include flexi($display: flex, $justify-content: center);
      text-align: center;
      width: 100%;
      justify-content: space-around;

      @media (max-width: 1441px) {
        width: 80%;

      }

      @media(max-width: 376px) {
        flex-wrap: wrap;
      }

      .aboutUs__container {
        background-color: rgb(214, 211, 211);
        border-radius: 5%;
        width: 17%;
        margin: 1%;
        transition: 0.5s;
        position: relative;
        z-index: 0;

        @media (max-width: 1441px) {
          width: 20%;

        }

        @media(max-width: 376px) {
          width: 50%;
        }

        .aboutUs__image {
          margin-top: 13%;
          @include size(100%, auto);
          border-radius: 7%;
          z-index: 0;

        }

        .circle {
          @include position($position: absolute, $left:50%, $bottom: 20%);
          transform: translateX(-50%);
          @include size(55px, 45px);
          background-color: rgb(69, 69, 204);
          border-radius: 50%;

          @media(max-width: 1025px) {
            @include size(20px, auto);

          }

          @media(max-width:375px) {
            @include size(15px, 19px);

          }

          &__tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: rgb(0, 0, 0);
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            @include position($position: absolute, $left:50%, $bottom: 125%);
            z-index: 1;
            margin-left: -60px;
            opacity: 0;
            transition: opacity 0.3s;
          }

          .circle__tooltiptext::after {
            content: "";
            z-index: 1;
            @include position($position: absolute, $left:50%, $top: 100%);
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
          }
        }

        .circle:hover .circle__tooltiptext {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  .ourCustomers {
    @include flexi($display: flex, $flex-direction: column);
    position: relative;
    height: 130vh;
    align-items: center;
    justify-content: center;

    @media(max-width: 426px) {
      height: 100vh;
    }
    &__quote {
      @include position($position: absolute, $left:50%);
      transform: translateX(-50%);
    }

    &__mainPart {
      @include flexi($display: flex, $justify-content: center);
      position: relative;
      max-height: 50%;

      @media(max-width: 1025px) {
        overflow: auto;
      }


      &-arrowLeft {
        @include size(70px, auto);
        @include position($position: absolute, $left:15%, $right: null, $top: 25%, $bottom: null);
        cursor: pointer;

        @media(max-width: 425px) {
          @include size(40px, auto);

        }
      }

      .ourCustomers__mainPart-arrowRight {
        @include size(70px, auto);
        @include position($position: absolute, $right:15%, $top: 25%);
        cursor: pointer;

        @media(max-width: 425px) {
          @include size(40px, auto);

        }
      }

      .ourCustomers__figure {
        text-align: center;
        flex-basis: 50%;

        &-text {
          font-size: 2.1rem;

          @media (max-width: 1441px) {
            font-size: 1.7rem;
          }

          @media (max-width: 425px) {
            font-size: 8px;
          }

        }

        &-text::first-letter {
          color: red;
        }

        .dots {
          @include position($position: relative, $top: 5%);
          height: 30px;
          margin-top: 1%;

          &__span {
            @include position($position: absolute, $top: 0);
            display: inline-block;
            @include size(2rem, 2rem);
            border-radius: 50%;
            margin: 10px 10px;
            background-color: grey;

            @media(max-width: 425px) {
              @include size(1rem, 1rem);
            }
          }

          .dots__span.active {
            background-color: rgb(0, 0, 0);
          }

          .dots__span:first-child {
            left: 40%;
          }

          .dots__span:nth-child(2) {
            left: 50%;
          }

          .dots__span:last-child {
            left: 60%;
          }
        }

        &-containerForWoman {
          @include flexi($display: flex, $justify-content: center);

          .onlyPicture {
            @include size(80px, 80px);
            overflow: hidden;
            border-radius: 50%;

            @media(max-width: 425px) {
              width: 80%;
            }

            .ourCustomers__figure-woman {
              @include size(80px, auto);

            }
          }

          .ourCustomers__figure-dataWomen {
            display: inline-block;
            margin-left: 2%;

          }

          &-bigerHeading {
            margin-bottom: 1%;

          }

          &-smallerHeading {
            margin-top: 1%;

          }

        }
      }
    }
  }

}